<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Movie Database</title>
    <!-- Google Fonts -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">

<!-- CSS Reset -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css">

<!-- Milligram CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/milligram/1.4.1/milligram.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<script src="{{ url_for('static', filename='script.js') }}"></script>
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <header>
        
        <div class="container">
            <h1>Add favourite movies to my list</h1>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class="column">
                    <h3>Add new movie</h3>
                    <form method="POST" action="/addMovie">
                        Title: <input type="text" id="inputTitle" name="title" required><br>
                        Year: <input type="number" id="inputYear" name="year" required><br>
                        Actors: <input type="text" id="inputActors" name="actors" required><br>
                        <button type="submit"><i class="fa-solid fa-circle-plus"></i> Add</button>
                        <a href="/"><button type="button"><i class="fa-solid fa-arrow-left"></i> Cancel</button></a>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <hr>
    <footer>
        <div class="container">
            &copy; 2025 My Movie Database
        </div>
    </footer>
</body>
</html>